:root {
  font-family: 'Jost', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1a1a1a;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button.primary {
  background-color: #1b61ed;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

button.primary:hover {
  background-color: #1b61ed;
}

button.secondary {
  background-color: white;
  color: #1b61ed;
  border: 1px solid #1b61ed;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

button.secondary:hover {
  background-color: #f0f0f0;
}

button.ghost {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}